  :root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
}

body {
  height: 100vh;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 600px;
  background-color: var(--white);
  text-align: center;
  border: none;
  border-radius: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 30px;
}

.container img {
  width: 350px;
  border-radius: 15px;
  
  margin: auto;
  margin-top: 15px;
}

.description {
  width: 350px;
  margin: 15px auto;
}

.description h2 {
  font-size: 25px;
  font-weight: 700;

  padding: 10px;
}

.description p {
  font-size: 19px;
  font-weight: 400;
  color: var(--grayish-blue);

  padding: 15px;
}